<div class="modal-body">
  <div class="row">
    <div class="col-lg-12">
      <p class="lead"><strong>Name:<%= @user.name %></strong></p>
      <p class="lead"><strong>Email:<%= @user.email %></strong></p>
      <p class="lead"><strong>City:<%= @user.city %></strong></p>
      <p class="lead"><strong>State:<%= @user.state %></strong></p>
      <p class="lead"><strong>Country:<%= @user.country %></strong></p>
      <p class="lead"><strong>Contact:<%= @user.contact_number %></strong></p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  </div>
</div>
